{% extends 'axf/base_main.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}  {# ext_css是base.html中的此项不可缺少，否则之前的css格式就丢掉了，只有最新加载的了。在原有css基础上进行 #}
    <link rel="stylesheet" href="{% static 'axf/main/css/home.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'axf/main/js/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="home">
{#    首页顶部轮播 #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for carousel in carousels %}
                    <div class="swiper-slide">
                        <img src="{{ carousel.img }}" alt="{{ carousel.name }}">
                    </div>
                {% endfor %}

            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
{% endblock %}