{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<form method="post" action="{% url 'users:login' %}" class="form" style="width: 50%;margin: 50px auto">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    <input type="hidden" name="my_redirect_field" value="{{ my_redirect_field  }}"/>
</form>
</body>
</html>