{% extends 'base.html' %}
{% load bgm_extras %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">CRM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ request.user.username }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 20px;margin-left: 20px;width: auto">
        {% block container %}
            {% for app_name, app_tables in admins.items %}
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{ app_name }}</div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        {% for table_name, model_class in  app_tables.items %}
                            <tr>
                                <td>
                                    <a href="{% url 'bgm:model_list' app_name table_name %}">{% get_verbose_name model_class.model %}</a>
                                </td>
                                <td>增加</td>
                                <td>修改</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}