{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">CRM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ request.user.username }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 20px">
        {% for app_name, app_tables in admins.items %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ app_name }}</div>
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table_name in  app_tables %}
                        <tr>
                            <td>{{ table_name }}</td>
                            <td>{{ table_name }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}